# Business Problem Statement

A leading retail company wants to better understand its customers’ shopping behavior in order
to improve sales, customer satisfaction, and long-term loyalty. The management team has
noticed changes in purchasing patterns across demographics, product categories, and sales
channels (online vs. offline). They are particularly interested in uncovering which factors, such
as discounts, reviews, seasons, or payment preferences, drive consumer decisions and repeat
purchases.
You are tasked with analyzing the company’s consumer behavior dataset to answer the
following overarching business question:

**“How can the company leverage consumer shopping data to identify trends, improve
customer engagement, and optimize marketing and product strategies?”**

In [1]:

import pandas as pd

In [2]:
df =pd.read_csv("customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
# Changing column case to snake casing 
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [5]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [6]:
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [7]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount         3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3863 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [8]:
# Checking columns with the same descriptions

(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [9]:
df = df.drop('promo_code_used', axis=1)

In [10]:
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [11]:
# filling missing Review Rating values by Category of Item Purchase

df['review_rating'] = df.groupby('category')['review_rating'].transform(lambda x: x.fillna(x.median()))

In [12]:
# Creating Age group Columns
age_groups = ['Young Adult','Adult','Middle-aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4 ,labels=age_groups)

In [13]:
df[['age','age_group']].head()

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged

In [14]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [15]:
df['frequency_of_purchases'] = df['frequency_of_purchases'].replace({'Every 3 Months': 'Quarterly'})

In [16]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly'], dtype=object)

In [17]:
# Changing frequency_of_purchases column from text to a numerical

frequency_mapping = {

    'Fortnightly' : 14, 
    'Weekly' : 7 , 
    'Annually' : 365 , 
    'Quarterly' : 90, 
    'Bi-Weekly': 14 ,
    'Monthly': 30
}

df['purchases_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [18]:
df[['purchases_frequency_days','frequency_of_purchases']].head(9)

   purchases_frequency_days frequency_of_purchases
0                        14            Fortnightly
1                        14            Fortnightly
2                         7                 Weekly
3                         7                 Weekly
4                       365               Annually
5                         7                 Weekly
6                        90              Quarterly
7                         7                 Weekly
8                       365               Annually

In [19]:
#df.to_csv("customer_shopping_behavior_clean.csv", index=False)

# SQL ANALYSIS

In [20]:
%load_ext sql

In [21]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:Qwerty%4012345@127.0.0.1:3306/customer_behavior")

In [22]:
query = """

SELECT
    *
FROM 
    customer_shopping_behavior_clean
LIMIT
    10;
    """
pd.read_sql_query(query, engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchases_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,14,Venmo,Weekly,Middle-aged,7
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,90
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,19,Credit Card,Weekly,Young Adult,7
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,8,Venmo,Annually,Young Adult,365
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,4,Cash,Quarterly,Middle-aged,90

In [23]:
'''
What is the total revenue generated by male vs. female customers?
'''

query = """

SELECT
    gender,
    SUM(purchase_amount) AS Revenue
FROM 
    customer_shopping_behavior_clean
GROUP BY 
    gender;
    """
pd.read_sql_query(query, engine)

   gender   Revenue
0    Male  157890.0
1  Female   75191.0

In [24]:
'''
Which customers used a discount but still spent more than the average purchase amount? 
'''

query = """

SELECT
    customer_id,
    purchase_amount
FROM 
    customer_shopping_behavior_clean
WHERE
    discount_applied = 'Yes' 
    AND purchase_amount >= (
        SELECT AVG(purchase_amount)
        FROM customer_shopping_behavior_clean
    );
    """
pd.read_sql_query(query, engine)

     customer_id  purchase_amount
0              2               64
1              3               73
2              4               90
3              7               85
4              9               97
..           ...              ...
834         1667               64
835         1671               73
836         1673               73
837         1674               62
838         1676               90

[839 rows x 2 columns]

In [25]:
'''
Which are the top 5 products with the highest average review rating?
'''

query = """

SELECT
    item_purchased,
    ROUND(AVG(review_rating),2) AS avg_product_rating
FROM 
    customer_shopping_behavior_clean
GROUP BY
    item_purchased
ORDER BY
    AVG(review_rating) DESC
LIMIT
    5;
    """
pd.read_sql_query(query, engine)

  item_purchased  avg_product_rating
0         Gloves                3.86
1        Sandals                3.84
2          Boots                3.82
3            Hat                3.80
4          Skirt                3.78

In [26]:
'''
Compare the average Purchase Amounts between Standard and Express Shipping.
'''

query = """

SELECT
    shipping_type,
    ROUND(AVG(purchase_amount),2) AS avg_purchase_amount
FROM
    customer_shopping_behavior_clean
WHERE
    shipping_type in ('Standard','Express')
GROUP BY
    shipping_type
    """
pd.read_sql_query(query, engine)

  shipping_type  avg_purchase_amount
0       Express                60.48
1      Standard                58.46

In [27]:
'''
 Do subscribed customers spend more? Compare average spend and total revenue between subscribers and non-subscribers
'''

query = """

SELECT 
    subscription_status,
    COUNT(customer_id) AS total_customers,
    ROUND(AVG(purchase_amount),2) AS avg_spend,
    ROUND(SUM(purchase_amount),2) AS total_revenue
FROM 
    customer_shopping_behavior_clean
GROUP BY 
    subscription_status
ORDER BY 
    total_revenue,
    avg_spend DESC;

    """
pd.read_sql_query(query, engine)

  subscription_status  total_customers  avg_spend  total_revenue
0                 Yes             1053      59.49        62645.0
1                  No             2847      59.87       170436.0

In [28]:
'''
Which 5 products have the highest percentage of purchases with discounts applied?
'''

query = """

SELECT 
    item_purchased,
    ROUND(100.0 * SUM(CASE WHEN discount_applied = 'Yes' THEN 1 ELSE 0 END)/COUNT(*),2) AS discount_rate
FROM 
    customer_shopping_behavior_clean
GROUP BY 
    item_purchased
ORDER BY 
    discount_rate DESC
LIMIT 
    5;
    """
pd.read_sql_query(query, engine)

  item_purchased  discount_rate
0            Hat          50.00
1       Sneakers          49.66
2           Coat          49.07
3        Sweater          48.17
4          Pants          47.37

In [29]:
'''
Segment customers into New, Returning, and Loyal based on their total number of previous purchases, and show the 
count of each segment.
'''

query = """
SELECT 
    customer_segment,
    COUNT(*) AS "Number of Customers" 
FROM 
    (SELECT 
        customer_id, 
        previous_purchases,
        CASE 
            WHEN previous_purchases = 1 THEN 'New'
            WHEN previous_purchases BETWEEN 2 AND 10 THEN 'Returning'
            ELSE 'Loyal'
        END AS customer_segment
    FROM 
        customer_shopping_behavior_clean) AS customer_type
GROUP BY 
    customer_segment;
    """
pd.read_sql_query(query, engine)

  customer_segment  Number of Customers
0            Loyal                 3116
1        Returning                  701
2              New                   83

In [30]:
'''
What are the top 3 most purchased products within each category?
'''

query = """
WITH 
    item_counts AS (
        SELECT 
            category,
           item_purchased,
           COUNT(customer_id) AS total_orders,
           ROW_NUMBER() OVER (PARTITION BY category ORDER BY COUNT(customer_id) DESC) AS item_rank
    FROM 
        customer_shopping_behavior_clean
    GROUP BY 
        category, item_purchased
)
SELECT 
    item_rank,
    category, 
    item_purchased, 
    total_orders
FROM 
    item_counts
WHERE 
    item_rank <=3;
    """
pd.read_sql_query(query, engine)

    item_rank     category item_purchased  total_orders
0           1  Accessories        Jewelry           171
1           2  Accessories     Sunglasses           161
2           3  Accessories           Belt           161
3           1     Clothing         Blouse           171
4           2     Clothing          Pants           171
5           3     Clothing          Shirt           169
6           1     Footwear        Sandals           160
7           2     Footwear          Shoes           150
8           3     Footwear       Sneakers           145
9           1    Outerwear         Jacket           163
10          2    Outerwear           Coat           161

In [31]:
'''
 Are customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
'''

query = """

SELECT 
    subscription_status,
    COUNT(customer_id) AS repeat_buyers
FROM 
    customer_shopping_behavior_clean
WHERE 
    previous_purchases > 5
GROUP BY 
    subscription_status;
    """
pd.read_sql_query(query, engine)

  subscription_status  repeat_buyers
0                 Yes            958
1                  No           2518

In [32]:
'''
What is the revenue contribution of each age group?
'''

query = """
SELECT 
    age_group,
    SUM(purchase_amount) AS total_revenue
FROM 
    customer_shopping_behavior_clean
GROUP BY 
    age_group
ORDER BY 
    total_revenue desc;

"""
pd.read_sql_query(query, engine)

     age_group  total_revenue
0  Young Adult        62143.0
1  Middle-aged        59197.0
2        Adult        55978.0
3       Senior        55763.0